<div class="container">
  <div class="row" *ngFor="let joke of jokes">
    <p-fieldset>
      <p-header>{{joke.cim}}</p-header>
      {{joke.tartalom}}<br>
      <a [routerLink]="['/kiemelt/', joke._id]" class="card-link">
        <button pButton class="ui-button-secondary" type="button" iconPos="right" icon="fa fa-facebook-official" label="Megosztás"></button>
      </a>
      <button pButton type="button" (click)="voteUp()" icon="fa-thumbs-up"></button>
      <button pButton type="button" (click)="voteDown()" icon="fa-thumbs-down"></button>
    </p-fieldset>
  </div>
</div>
<!--button pButton type="text" icon="fa fa-arrow-left" label="Lapozás"></button>

<button pButton type="text" (click)="next()"  icon="fa fa-arrow-right" label="Lapozás"></button-->
<p-paginator rows="4" totalRecords="120" pageLinkSize="7" (onPageChange)="paginate($event)"></p-paginator>
