<div class="container">
  <div class="row" *ngFor="let joke of jokes">
    <p-fieldset>
      <p-header>
        <div class="container">
          <a [routerLink]="['/kiemelt/', joke._id]" class="card-link">{{joke.cim}}</a>
          <div class="likeButtons">
          <button pButton type="button" (click)="voteUp()" icon="fa-thumbs-up"></button>
          <button pButton type="button" (click)="voteDown()" icon="fa-thumbs-down"></button>

          </div>
        </div>
      </p-header>
      {{joke.tartalom}}<br>
      <div class="container">
        <share-buttons [google]="false" [reddit]="false" [stumbleUpOn]="false" [pinterest]="false" [linkedIn]="false" [tumblr]="false"
          [tags]=joke.tag [title]="joke.cim" [description]=joke.tartalom></share-buttons>
      </div>
    </p-fieldset>
  </div>
</div>
<p-paginator rows="5" totalRecords="{{paginateCount}}" pageLinkSize="7" (onPageChange)="paginate($event)"></p-paginator>
