<div class="container">
  <div class="row" *ngFor="let joke of jokes">
    <div class="card card-block">
      <h4 class="card-title">{{joke.cim}}</h4>
      <p class="card-text">{{joke.tartalom}}</p>
      <a href="#" class="card-link">Megosztás</a>
    </div>
  </div>
</div>
<!--button class='kov' ng-click="next5()">Következő</button>
<button class='elozo' ng-click="prev5()">Következő</button-->
<i ng-click="next5()" class="fa fa-arrow-right nagy kov" aria-hidden="true"></i>
<i ng-click="prev5()" class="fa fa-arrow-left nagy" aria-hidden="true"></i>
