<!--div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed fa fa-bars" data-toggle="collapse" data-target="#spy" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
            </a>
            <a href="#">ViccApp</a>
          </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Viccek</a></li>
          <li><a ng-href="#!/about">Az alkalmazasrol</a></li>
          <li><a ng-href="#!/rest-api">REST Api</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <img src='/assets/banana.png' class='banana'>
  <div id="sidebar-wrapper">
    <nav id="spy">
      <ul class="sidebar-nav nav">
        <li class="sidebar-brand">
          <a href="#home"><span class="fa fa-home solo">Osszes kategoria</span></a>
        </li>
        <li>
          <a ng-href="#!/category/Állatos /0">
            <span class="fa fa-anchor solo">Állatos</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Bizarr/0">
            <span class="fa fa-anchor solo">Bizarr</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Egyéb/0">
            <span class="fa fa-anchor solo">Egyéb</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Fárasztó /0">
            <span class="fa fa-anchor solo">Fárasztó</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Felnőtt/0">
            <span class="fa fa-anchor solo">Felnőtt</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Házassági /0">
            <span class="fa fa-anchor solo">Házassági</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Pistike/0">
            <span class="fa fa-anchor solo">Pistike</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Találós kérdés/0">
            <span class="fa fa-anchor solo">Találós kérdés</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Történetek/0">
            <span class="fa fa-anchor solo">Történetek</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Szőke nő/0">
            <span class="fa fa-anchor solo">Szőke nő</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Székely/0">
            <span class="fa fa-anchor solo">Székely</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Cigány/0">
            <span class="fa fa-anchor solo">Cigány</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Orvos/0">
            <span class="fa fa-anchor solo">Orvos</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Részeg/0">
            <span class="fa fa-anchor solo">Részeg</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Móriczka/0">
            <span class="fa fa-anchor solo">Móriczka</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Munkahelyi/0">
            <span class="fa fa-anchor solo">Munkahelyi</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Rendőr/0">
            <span class="fa fa-anchor solo">Rendőr</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Idézetek/0">
            <span class="fa fa-anchor solo">Idézetek</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Ügyvéd, bíró/0">
            <span class="fa fa-anchor solo">Ügyvéd, bíró</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Jean /0">
            <span class="fa fa-anchor solo">Jean</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Politikai/0">
            <span class="fa fa-anchor solo">Politikai</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Skót/0">
            <span class="fa fa-anchor solo">Skót</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Kocsma/0">
            <span class="fa fa-anchor solo">Kocsma</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Iskolás/0">
            <span class="fa fa-anchor solo">Iskolás</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Zsidó/0">
            <span class="fa fa-anchor solo">Zsidó</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Csajozós/0">
            <span class="fa fa-anchor solo">Csajozós</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Chuck N./0">
            <span class="fa fa-anchor solo">Chuck Norris</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Anyós /0">
            <span class="fa fa-anchor solo">Anyós</span>
          </a>
        </li>
      </ul>
    </nav>
  </div-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">ViccApp</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Kategóriák
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/category/Állatos /0']">
                Állatos
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Bizarr/0']">
                Bizarr
                </a>
              <a class="dropdown-item" [routerLink]="['/category/Egyéb/0']">
                Egyéb
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Fárasztó /0']">
                Fárasztó
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Felnőtt/0']">
                Felnőtt
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Házassági/0']">
                Házassági
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Pistike/0']">
                Pistike
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Találós kérdés/0']">
                Találós kérdés
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Történetek/0']">
                Történetek
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Szőke nő/0']">
                Szőke nő
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Székely/0']">
                Székely
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Cigány/0']">
                Cigány
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Orvos/0']">
                Orvos
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Részeg/0']">
                Részeg
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Móricka/0']">
                Móricka
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Munkahelyi/0']">
                Munkahelyi
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Rendőr/0']">
                Rendőr
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Idézetek/0']">
                Idézetek
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Ügyvéd, bíró/0']">
                Ügyvéd, bíró
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Jean /0']">
                Jean
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Politikai/0']">
                Politikai
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Skót/0']">
                Skót
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Kocsma/0']">
                Kocsma
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Iskolás/0']">
                Iskolás
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Zsidó/0']">
                Zsidó
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Csajozós/0']">
                Csajozós
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Chuck N./0']">
                Chuck Norris
              </a>
              <a class="dropdown-item" [routerLink]="['/category/Anyós /0']">
                Anyós
              </a>
            </div>
        </li>
        <li class='nav-item'> 
          <a class="nav-link" [routerLink]="['/rest-api-info']">
          Open REST Api
          </a>
        </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
