<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
              <i class="fa fa-bars"></i>
            </a>
            <a href="#">ViccApp</a>
          </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Viccek</a></li>
          <li><a ng-href="#!/about">Az alkalmazasrol</a></li>
          <li><a ng-href="#!/rest-api">REST Api</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <img src='/assets/banana.png' class='banana'>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav id="spy">
      <ul class="sidebar-nav nav">
        <li class="sidebar-brand">
          <a href="#home"><span class="fa fa-home solo">Osszes kategoria</span></a>
        </li>
        <li>
          <a ng-href="#!/category/Állatos /0">
            <span class="fa fa-anchor solo">Állatos</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Bizarr/0">
            <span class="fa fa-anchor solo">Bizarr</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Egyéb/0">
            <span class="fa fa-anchor solo">Egyéb</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Fárasztó /0">
            <span class="fa fa-anchor solo">Fárasztó</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Felnőtt/0">
            <span class="fa fa-anchor solo">Felnőtt</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Házassági /0">
            <span class="fa fa-anchor solo">Házassági</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Pistike/0">
            <span class="fa fa-anchor solo">Pistike</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Találós kérdés/0">
            <span class="fa fa-anchor solo">Találós kérdés</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Történetek/0">
            <span class="fa fa-anchor solo">Történetek</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Szőke nő/0">
            <span class="fa fa-anchor solo">Szőke nő</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Székely/0">
            <span class="fa fa-anchor solo">Székely</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Cigány/0">
            <span class="fa fa-anchor solo">Cigány</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Orvos/0">
            <span class="fa fa-anchor solo">Orvos</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Részeg/0">
            <span class="fa fa-anchor solo">Részeg</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Móriczka/0">
            <span class="fa fa-anchor solo">Móriczka</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Munkahelyi/0">
            <span class="fa fa-anchor solo">Munkahelyi</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Rendőr/0">
            <span class="fa fa-anchor solo">Rendőr</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Idézetek/0">
            <span class="fa fa-anchor solo">Idézetek</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Ügyvéd, bíró/0">
            <span class="fa fa-anchor solo">Ügyvéd, bíró</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Jean /0">
            <span class="fa fa-anchor solo">Jean</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Politikai/0">
            <span class="fa fa-anchor solo">Politikai</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Skót/0">
            <span class="fa fa-anchor solo">Skót</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Kocsma/0">
            <span class="fa fa-anchor solo">Kocsma</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Iskolás/0">
            <span class="fa fa-anchor solo">Iskolás</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Zsidó/0">
            <span class="fa fa-anchor solo">Zsidó</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Csajozós/0">
            <span class="fa fa-anchor solo">Csajozós</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Chuck N./0">
            <span class="fa fa-anchor solo">Chuck Norris</span>
          </a>
        </li>
        <li>
          <a href="#!/category/Anyós /0">
            <span class="fa fa-anchor solo">Anyós</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid ng-view">
  </div>
  <div class="footer">
    <div class="container">
      <p><span class="glyphicon glyphicon-heart"></span> from <a href='https://github.com/terravibe'>github.com/terravibe</a></p>
    </div>
  </div>
