<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">ViccApp(beta)</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Kategóriák
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a *ngFor="let category of categories" class="dropdown-item" [routerLink]="['/category/' + category._id + '/0']">
                {{category._id}}
              </a>
            </div>
        </li>
        <li class='nav-item'>
          <a class="nav-link" [routerLink]="['/rest-api-info']">
          REST Api
          </a>
        </li>
        <li *ngIf="!authService.loggedIn()" class='nav-item'>
          <a class="nav-link" (click)=authService.login()>
          Bejelentkezés
          </a>
        </li>
        <li *ngIf="authService.loggedIn()" class='nav-item'>
          <a class="nav-link" (click)="getProfile()" [routerLink]="['/profil']">
          Profil
          </a>
        </li>
        <li *ngIf="authService.loggedIn()" class='nav-item'>
          <a class="nav-link" (click)=authService.logout()>
          Kijelentkezés
          </a>
        </li>

      </ul>
    </div>

</nav><script>
  var goFS = document.getElementById("goFS");
  goFS.addEventListener("click", toggleFullScreen, false);

  function toggleFullScreen() {
  var doc = window.document;
  var docEl = doc.documentElement;

  var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
  var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

  if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
    requestFullScreen.call(docEl);
  }
  else {
    cancelFullScreen.call(doc);
  }
}
</script>
<router-outlet></router-outlet>

