<div class="container">
  <h1>
    ViccApp(beta)
  </h1>
  <h3>
    A napi vicc es humor forrása.
  </h3>
  <img id="banana" class="img-fluid col-xs-6 banana" src="assets/banana.png" alt="">
</div>
<!--div class="container">
  <div class="row" *ngFor="let joke of jokes">
    <div class="card card-block">
      <h4 class="card-title">{{joke.cim}}</h4>
      <p class="card-text">{{joke.tartalom}}</p>
      <a [routerLink]="['/kiemelt/', joke._id]" class="card-link">Megosztás</a>
    </div>
  </div>
</div-->

<footer>
  <share-buttons [stumbleUpOn]="false" [pinterest]="false" [reddit]="false" [linkedIn]="false" [google]="false" [tumblr]="false"></share-buttons>
</footer>