/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/primeng/resources/themes/south-street/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;

}


footer {
  text-align: right;
}